.home__subjectList {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin: 40px 20px 40px 20px;
    justify-content: center;
}

.item__card {
    color: #303030;

    width: 280px;
    height: 290px;

    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;

    font-weight: 400;
    font-size: 25px;
    line-height: 36px;
    text-transform: uppercase ;

    border: 3px solid #303030;
    border-radius: 30px;
}

.item__card:hover {
    border: 3px solid #F5F5F5;
    background-color: #303030;
    color: #F5F5F5;
}
