.namePlate {
    display: flex;
    
    border: 2.3px solid #303030;
    border-radius: 30px;

    margin: 30px 20px 0 20px;
    padding: 0 10px 0 10px;

    height: 48px;
    align-items: center;
    text-align: center;
    justify-content: center;
    
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    
    text-transform: uppercase;
    letter-spacing: 0.4px;
}

@media (max-width: 620px) {
.namePlate {
    margin: 15px 20px 0 20px;
    padding: 3px 10px;
    height: auto;
}
}